.header{
    margin-top: 20px;
}
.header a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.header a:hover{
    color: red;
}

.active{
    background-color: rgb(58, 246, 12);
    color: red;
    border-radius: 5px;
}